In [5]:
from data_generator import write_to_csv
write_to_csv('data_generation.csv', 10000)

In [6]:
import pandas as pd
data=pd.read_csv("data_generation.csv")
data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Payment_Type,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,bb8fa26b-d791-47c6-a431-5e6562886277,b323e2ed-953b-4dd5-8690-92d65a7f46ab,Edward Johnston,2fa14dba-1e99-4979-9786-e9fcbf94ba7b,Home & Kitchen,Lotion,UPI,2,32.23,2020-08-26 13:25:17,Canada,Toronto,Shopify,1818529d-1546-4d94-ac74-305ee064e914,Y,Payment Successful
1,74502cd9-f2dc-483f-aca2-48490995f34f,d0230958-f655-4448-918a-a181975e6a74,Duane Meyer,16ba4c09-6503-4a9a-8746-2523e532ec0f,Home & Kitchen,Soap,UPI,2,259.19,2022-11-08 15:42:23,India,Mumbai,Amazon,f5bbaf0e-e216-404f-80b8-63d2c68f7b95,N,Payment gateway error
2,3083292e-99f9-4b27-9557-32b373e91602,01f8c27c-4ebb-42a9-ba00-b6718a21e687,Morgan Grant,3a74f2f2-5371-4f58-9fab-ec80ec9ea705,Sports,Basketball,Internet Banking,5,455.33,2020-07-28 21:28:09,USA,Chicago,Flipkart,a888f4c2-aa0e-4a69-b853-226afd073a15,Y,Payment Successful
3,a22e1fa3-e284-4616-b930-6727ae8716ce,06c59598-2709-4d69-8910-d3ee970f2240,Julie Williams,e564ac91-5f39-4dde-bfeb-49619f1b894b,Electronics,Headphones,UPI,4,970.48,2022-10-14 08:23:25,UK,Leeds,Walmart,e71431d5-771e-4c8a-9dec-d28c811b224b,Y,Payment Successful
4,3a237909-5ea0-4f86-9c77-649a04d19de1,77193538-0038-4827-b41b-2fe019adff93,Karen Barnes,e2f1be39-1e4d-4fa1-830f-760f13d2cd3d,Sports,Football,Wallet,1,814.84,2020-04-11 00:44:52,Germany,Berlin,Flipkart,9ab62462-beef-466e-8e67-2bfbc9c9e524,Y,Payment Successful

In [7]:
data.count()

Order_Id                               10000
Customer_Id                            10000
Customer_Name                          10000
Product_Id                             10000
Product_Category                       10000
Product_Name                           10000
Payment_Type                           10000
Quantity_ordered                       10000
Price                                  10000
Date_and_Time_When_Order_Was_Placed    10000
Customer_Country                       10000
Customer_City                          10000
Site_From_Where_Order_Was_Placed       10000
Payment_Transaction_Confirmation_Id    10000
Payment_Success_or_Failure             10000
Payment_Failure_Reason                 10000
dtype: int64

In [8]:
import Rough_data_generation as rough


num_records = 100  # Adjust as needed
orders_df = rough.generate_records(num_records)
rough.save_to_csv(orders_df, 'rough_data.csv')

Data saved to rough_data.csv

In [9]:
rough_data=pd.read_csv("rough_data.csv")
rough_data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Name,Product_Category,Payment_Type,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,InvalidUUID,123e4567-e89b-12d3-a456-426614174000,Customer_0,123e4567-e89b-12d3-a456-426614174000,Widget E,Clothing,PayPal,4,410.01,2023-12-13 20:44:01.151812,France,City_0,Walmart,123e4567-e89b-12d3-a456-426614174000,N,Fraudulent Activity
1,123e4567-e89b-12d3-a456-426614174001,InvalidCustomerId,Customer_1,123e4567-e89b-12d3-a456-426614174001,Widget E,Books,PayPal,5,630.78,2024-07-29 20:44:01.151812,USA,City_1,Walmart,123e4567-e89b-12d3-a456-426614174001,N,NaN
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Customer_2,InvalidProductId,Widget E,Toys,Credit Card,4,628.16,2024-01-04 20:44:01.151812,UK,City_2,Amazon,123e4567-e89b-12d3-a456-426614174002,Y,NaN
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Customer_3,123e4567-e89b-12d3-a456-426614174003,Widget D,InvalidCategory,Bank Transfer,2,313.85,2024-04-28 20:44:01.151812,UK,City_3,Flipkart,123e4567-e89b-12d3-a456-426614174003,N,NaN
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Customer_4,123e4567-e89b-12d3-a456-426614174004,Widget D,Furniture,Credit Card,-1,781.25,2024-07-24 20:44:01.151812,France,City_4,Shopify,123e4567-e89b-12d3-a456-426614174004,N,NaN

In [10]:
rough_data.count()

Order_Id                               100
Customer_Id                            100
Customer_Name                          100
Product_Id                             100
Product_Name                           100
Product_Category                       100
Payment_Type                           100
Quantity_ordered                       100
Price                                  100
Date_and_Time_When_Order_Was_Placed    100
Customer_Country                       100
Customer_City                          100
Site_From_Where_Order_Was_Placed       100
Payment_Transaction_Confirmation_Id    100
Payment_Success_or_Failure             100
Payment_Failure_Reason                  48
dtype: int64

In [11]:
#preprocessing 

# main.py
from data_handling import load_data, save_data, generate_fake_data


"""Main function to process the CSV file."""
df = load_data(input_file)
df = generate_fake_data(df)
save_data(df, output_file)
print("Data processed and saved successfully!")

input_file = 'rough_data.csv'  # Replace with your input CSV file path
output_file = 'handling_rough_data.csv'  # Define your output CSV file path
main(input_file, output_file)

Data processed and saved successfully!
Data processed and saved successfully!

In [12]:
data=pd.read_csv("handling_rough_data.csv")

In [13]:
data.columns

Index(['Order_Id', 'Customer_Id', 'Customer_Name', 'Product_Id',
       'Product_Category', 'Product_Name', 'Quantity_ordered', 'Price',
       'Date_and_Time_When_Order_Was_Placed', 'Customer_Country',
       'Customer_City', 'Site_From_Where_Order_Was_Placed', 'Payment_Type',
       'Payment_Transaction_Confirmation_Id', 'Payment_Success_or_Failure',
       'Payment_Failure_Reason'],
      dtype='object')

In [13]:
data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Type,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,55df43cf-f24e-4a6a-a068-54c033b90f97,123e4567-e89b-12d3-a456-426614174000,Mark Stevens,123e4567-e89b-12d3-a456-426614174000,Books,Magazines,4,410.01,2023-12-13 20:44:01.151812,USA,Chicago,Walmart,Wallet,123e4567-e89b-12d3-a456-426614174000,N,Fraudulent Activity
1,123e4567-e89b-12d3-a456-426614174001,78dd355a-3e14-4761-af71-06cf53353e44,Melissa Cox,123e4567-e89b-12d3-a456-426614174001,Books,Fiction,5,630.78,2024-07-29 20:44:01.151812,UK,Glasgow,Walmart,Internet Banking,123e4567-e89b-12d3-a456-426614174001,N,No Reason Provided
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Katie Adkins,47622101-f5a1-40f0-b931-d2b53a00fe12,Sports,Football,4,628.16,2024-01-04 20:44:01.151812,USA,Chicago,Amazon,UPI,123e4567-e89b-12d3-a456-426614174002,Y,No Reason Provided
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Susan Mejia,123e4567-e89b-12d3-a456-426614174003,Home & Kitchen,Detergent,2,313.85,2024-04-28 20:44:01.151812,USA,Houston,Flipkart,Card,123e4567-e89b-12d3-a456-426614174003,N,No Reason Provided
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Amber Dean,123e4567-e89b-12d3-a456-426614174004,Clothing,Jackets,1,781.25,2024-07-24 20:44:01.151812,Canada,Toronto,Shopify,Internet Banking,123e4567-e89b-12d3-a456-426614174004,N,No Reason Provided

In [22]:
#merge 

import pandas as pd

# Load the two CSV files
df1 = pd.read_csv('data_generation.csv')
df2 = pd.read_csv('handling_rough_data.csv')

# Append df1 (fake data) to df2 (transaction data) using pd.concat
appended_df = pd.concat([df2, df1], ignore_index=True)

# Save the appended DataFrame to a new CSV file
appended_df.to_csv('final_data.csv', index=False)

print("CSV files appended successfully and saved as 'appended_data.csv'")

CSV files appended successfully and saved as 'appended_data.csv'

In [23]:
final_data=pd.read_csv("final_data.csv")
final_data.columns

Index(['Order_Id', 'Customer_Id', 'Customer_Name', 'Product_Id',
       'Product_Category', 'Product_Name', 'Quantity_ordered', 'Price',
       'Date_and_Time_When_Order_Was_Placed', 'Customer_Country',
       'Customer_City', 'Site_From_Where_Order_Was_Placed', 'Payment_Type',
       'Payment_Transaction_Confirmation_Id', 'Payment_Success_or_Failure',
       'Payment_Failure_Reason'],
      dtype='object')

In [24]:
final_data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Type,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,55df43cf-f24e-4a6a-a068-54c033b90f97,123e4567-e89b-12d3-a456-426614174000,Mark Stevens,123e4567-e89b-12d3-a456-426614174000,Books,Magazines,4,410.01,2023-12-13 20:44:01.151812,USA,Chicago,Walmart,Wallet,123e4567-e89b-12d3-a456-426614174000,N,Fraudulent Activity
1,123e4567-e89b-12d3-a456-426614174001,78dd355a-3e14-4761-af71-06cf53353e44,Melissa Cox,123e4567-e89b-12d3-a456-426614174001,Books,Fiction,5,630.78,2024-07-29 20:44:01.151812,UK,Glasgow,Walmart,Internet Banking,123e4567-e89b-12d3-a456-426614174001,N,No Reason Provided
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Katie Adkins,47622101-f5a1-40f0-b931-d2b53a00fe12,Sports,Football,4,628.16,2024-01-04 20:44:01.151812,USA,Chicago,Amazon,UPI,123e4567-e89b-12d3-a456-426614174002,Y,No Reason Provided
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Susan Mejia,123e4567-e89b-12d3-a456-426614174003,Home & Kitchen,Detergent,2,313.85,2024-04-28 20:44:01.151812,USA,Houston,Flipkart,Card,123e4567-e89b-12d3-a456-426614174003,N,No Reason Provided
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Amber Dean,123e4567-e89b-12d3-a456-426614174004,Clothing,Jackets,1,781.25,2024-07-24 20:44:01.151812,Canada,Toronto,Shopify,Internet Banking,123e4567-e89b-12d3-a456-426614174004,N,No Reason Provided

In [25]:
#data exploration 

# Check for null values in each column
null_values = final_data.isnull().sum()

# Display the result
print(null_values)

Order_Id                               0
Customer_Id                            0
Customer_Name                          0
Product_Id                             0
Product_Category                       0
Product_Name                           0
Quantity_ordered                       0
Price                                  0
Date_and_Time_When_Order_Was_Placed    0
Customer_Country                       0
Customer_City                          0
Site_From_Where_Order_Was_Placed       0
Payment_Type                           0
Payment_Transaction_Confirmation_Id    0
Payment_Success_or_Failure             0
Payment_Failure_Reason                 0
dtype: int64

In [26]:
# Check for duplicate rows
duplicate_values = final_data.duplicated().sum()

# Display the result
print(f"Number of duplicate rows: {duplicate_values}")

Number of duplicate rows: 0

In [27]:
# Check data types of all columns
data_types = final_data.dtypes

# Display the result
print(data_types)

Order_Id                                object
Customer_Id                             object
Customer_Name                           object
Product_Id                              object
Product_Category                        object
Product_Name                            object
Quantity_ordered                         int64
Price                                  float64
Date_and_Time_When_Order_Was_Placed     object
Customer_Country                        object
Customer_City                           object
Site_From_Where_Order_Was_Placed        object
Payment_Type                            object
Payment_Transaction_Confirmation_Id     object
Payment_Success_or_Failure              object
Payment_Failure_Reason                  object
dtype: object

In [28]:
# Get a concise summary of the DataFrame
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10100 entries, 0 to 10099
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Order_Id                             10100 non-null  object
 1   Customer_Id                          10100 non-null  object
 2   Customer_Name                        10100 non-null  object
 3   Product_Id                           10100 non-null  object
 4   Product_Category                     10100 non-null  object
 5   Product_Name                         10100 non-null  object
 6   Quantity_ordered                     10100 non-null  int64
 7   Price                                10100 non-null  float64
 8   Date_and_Time_When_Order_Was_Placed  10100 non-null  object
 9   Customer_Country                     10100 non-null  object
 10  Customer_City                        10100 non-null  object
 11  Site_From_Where_Order_Was_Placed     10100 non-null  object
 12  Payment_Type                         10100 non-null  object
 13  Payment_Transaction_Confirmation_Id  10100 non-null  object
 14  Payment_Success_or_Failure           10100 non-null  object
 15  Payment_Failure_Reason               10100 non-null  object
dtypes: float64(1), int64(1), object(14)
memory usage: 1.2+ MB

In [29]:
'''
final_data['Date_and_Time_When_Order_Was_Placed'] = pd.to_datetime(final_data['Date_and_Time_When_Order_Was_Placed'])

throw error :because The error you're encountering suggests that the string representations of the date and time 
in your DataFrame do not match the format you specified while converting them to a datetime object. In this case,
the string "2020-08-26 13:25:17" does not have the fractional second part (i.e., .ffffff) that your 
format "%Y-%m-%d %H:%M:%S.%f" expects.

solu:
final_data['Date_and_Time_When_Order_Was_Placed'] = pd.to_datetime(final_data['Date_and_Time_When_Order_Was_Placed'], format='ISO8601')
Use ISO8601 Format: If the strings are in a consistent ISO8601 format, you can convert them without specifying a format:

'''


final_data['Date_and_Time_When_Order_Was_Placed'] = pd.to_datetime(final_data['Date_and_Time_When_Order_Was_Placed'], format='ISO8601')
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10100 entries, 0 to 10099
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Order_Id                             10100 non-null  object
 1   Customer_Id                          10100 non-null  object
 2   Customer_Name                        10100 non-null  object
 3   Product_Id                           10100 non-null  object
 4   Product_Category                     10100 non-null  object
 5   Product_Name                         10100 non-null  object
 6   Quantity_ordered                     10100 non-null  int64
 7   Price                                10100 non-null  float64
 8   Date_and_Time_When_Order_Was_Placed  10100 non-null  datetime64[ns]
 9   Customer_Country                     10100 non-null  object
 10  Customer_City                        10100 non-null  object
 11  Site_From_Where_Order_Was_Placed     10100 non-null  object
 12  Payment_Type                         10100 non-null  object
 13  Payment_Transaction_Confirmation_Id  10100 non-null  object
 14  Payment_Success_or_Failure           10100 non-null  object
 15  Payment_Failure_Reason               10100 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 1.2+ MB

In [30]:
# Write the DataFrame to a CSV file
output_file_path = 'final_data.csv'  # Specify the desired file path
final_data.to_csv(output_file_path, index=False)  # Set index=False to avoid writing row indices to the file

print(f"DataFrame saved to {output_file_path}.")

DataFrame saved to final_data.csv.

In [31]:
df= pd.read_csv("final_data.csv")
df.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Type,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,55df43cf-f24e-4a6a-a068-54c033b90f97,123e4567-e89b-12d3-a456-426614174000,Mark Stevens,123e4567-e89b-12d3-a456-426614174000,Books,Magazines,4,410.01,2023-12-13 20:44:01.151812,USA,Chicago,Walmart,Wallet,123e4567-e89b-12d3-a456-426614174000,N,Fraudulent Activity
1,123e4567-e89b-12d3-a456-426614174001,78dd355a-3e14-4761-af71-06cf53353e44,Melissa Cox,123e4567-e89b-12d3-a456-426614174001,Books,Fiction,5,630.78,2024-07-29 20:44:01.151812,UK,Glasgow,Walmart,Internet Banking,123e4567-e89b-12d3-a456-426614174001,N,No Reason Provided
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Katie Adkins,47622101-f5a1-40f0-b931-d2b53a00fe12,Sports,Football,4,628.16,2024-01-04 20:44:01.151812,USA,Chicago,Amazon,UPI,123e4567-e89b-12d3-a456-426614174002,Y,No Reason Provided
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Susan Mejia,123e4567-e89b-12d3-a456-426614174003,Home & Kitchen,Detergent,2,313.85,2024-04-28 20:44:01.151812,USA,Houston,Flipkart,Card,123e4567-e89b-12d3-a456-426614174003,N,No Reason Provided
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Amber Dean,123e4567-e89b-12d3-a456-426614174004,Clothing,Jackets,1,781.25,2024-07-24 20:44:01.151812,Canada,Toronto,Shopify,Internet Banking,123e4567-e89b-12d3-a456-426614174004,N,No Reason Provided

In [3]:
from gcs_utils import GCSHandler  # Correctly import the GCSHandler class

# Replace with your desired bucket name
bucket_name = 'rev-project'  # Change to your desired bucket name
    
# Create an instance of GCSHandler
gcs_handler = GCSHandler()
    
# Call the create_bucket method
gcs_handler.create_bucket(bucket_name)

Using credentials from: C:\Users\mukes\Downloads\bionic-baton-433506-k4-12d44e33675d.json
Bucket rev-project created successfully.

In [4]:
#list all the buckets

gcs_handler.list_buckets()

Buckets in the project:
ecommerce2611
rev-project
rev-project-p

In [5]:
from delete_bucket_file import GCSHandler1  # Correctly import the GCSHandler class

# Replace with your desired bucket name
bucket_name = 'rev-project-p'  # Change to your desired bucket name
    
# Create an instance of GCSHandler
gcs_handler1 = GCSHandler1()
# Delete a specific blob in a bucket

#gcs_handler.delete_blob('your_bucket_name', 'your_blob_name')  # Replace with actual names

# Delete the entire bucket
gcs_handler1.delete_bucket(bucket_name)  # Replace with actual bucket name

Using credentials from: C:\Users\mukes\Downloads\bionic-baton-433506-k4-12d44e33675d.json
Bucket 'rev-project-p' deleted successfully.

In [6]:
from delete_bucket_file import GCSHandler1  # Correctly import the GCSHandler class

# Replace with your desired bucket name
bucket_name = 'ecommerce2611'  # Change to your desired bucket name
    
# Create an instance of GCSHandler
gcs_handler1 = GCSHandler1()
# Delete a specific blob in a bucket

#gcs_handler.delete_blob('your_bucket_name', 'your_blob_name')  # Replace with actual names

# Delete the entire bucket
gcs_handler1.delete_bucket(bucket_name)  # Replace with actual bucket name

Using credentials from: C:\Users\mukes\Downloads\bionic-baton-433506-k4-12d44e33675d.json
Bucket 'ecommerce2611' deleted successfully.

In [8]:
#upload files -1st generated 10,000 records

bucket_name = 'rev-project'  # Replace with your bucket name
source_file_name = 'data_generation.csv'  # Replace with your local file path
destination_file_name = 'data_generation.csv'  # The name it should have in the bucket

# Call the upload_blob method
gcs_handler.upload_blob(bucket_name, source_file_name, destination_file_name)

data_generation.csv uploaded to data_generation.csv in bucket rev-project.

In [10]:
#list all the file in buckets- rough data 

gcs_handler.list_files_in_bucket("rev-project")

Files in bucket 'rev-project':
data_generation.csv

In [11]:
#upload files final preprocessed file

bucket_name = 'rev-project'  # Replace with your bucket name
source_file_name = 'rough_data.csv'  # Replace with your local file path
destination_file_name = 'rough_data.csv'  # The name it should have in the bucket

# Call the upload_blob method
gcs_handler.upload_blob(bucket_name, source_file_name, destination_file_name)

rough_data.csv uploaded to rough_data.csv in bucket rev-project.

In [12]:
#list all the file in buckets

gcs_handler.list_files_in_bucket("rev-project")

Files in bucket 'rev-project':
data_generation.csv
rough_data.csv

In [13]:
#upload files 

bucket_name = 'rev-project'  # Replace with your bucket name
source_file_name = 'final_data.csv'  # Replace with your local file path
destination_file_name = 'final_data.csv'  # The name it should have in the bucket

# Call the upload_blob method
gcs_handler.upload_blob(bucket_name, source_file_name, destination_file_name)

final_data.csv uploaded to final_data.csv in bucket rev-project.

In [14]:
#list all the file in buckets

gcs_handler.list_files_in_bucket("rev-project")

Files in bucket 'rev-project':
data_generation.csv
final_data.csv
rough_data.csv

In [ ]:
#every thing is sucessfully uploaded to gcs